<div class="md-sidebar md-sidebar--light md-sidebar--global widthClass">
  <div class="md-sidebar__body">
    <div class="md-sidebar-nav">
      <div class="md-sidebar-nav__header md-margin__top--l md-padding__bottom--l ">
        <div class="md-avatar md-avatar--active md-avatar--44" title="Tom Smith">
          <span class="md-avatar__letter">TS</span>
        </div>
       <p class="md-margin__left--s">Hello</p>

      </div>
      <div
        class="md-list md-list--vertical md-sidebar-nav__group md-sidebar-nav__group--primary"
        role="list"
      >
        <a
          class="md-list-item"
          id="md-sidebar__nav-item-2-1"
          role="listitem"
          data-md-event-key="md-sidebar__nav-item-2-1"
          routerLink="./rooms"
        >
          <div class="md-list-item__center">Room1</div>
        </a>
        <a
          class="md-list-item"
          id="md-sidebar__nav-item-2-1"
          role="listitem"
          data-md-event-key="md-sidebar__nav-item-2-1"
          routerLink="./rooms"
        >
          <div class="md-list-item__center">Room2</div>
        </a>
      </div>
    </div>
  </div>
</div>
