<div class="sidenav">
  <div class="profile-info">
    <div class="md-avatar md-avatar--active md-avatar--32" title="{{this.displayName}}">
      <span class="md-avatar__letter">{{this.intial}}</span>
    </div>
    <div>
      <span class="my-name">{{this.displayName}}</span>
      <span class="logout" (click)="this.logout()"><a>Logout</a></span>
    </div>
  </div>

  <div class="search-add-bar">
    <input placeholder="Search" class="space-search" (keyup)="search($event)">
    <span (click)="openModal(template)" class="shadow-sm create-space">+</span>
  </div>

  <div class="space-list">
    <div class="filter">
      <span (click)="this.updatespacelist('all')" [ngClass]="all ? 'filter-active' : ''">All</span> | <span
        (click)="this.updatespacelist('group')" [ngClass]="group ? 'filter-active' : ''">Spaces</span> | <span
        (click)="this.updatespacelist('direct')" [ngClass]="direct ? 'filter-active' : ''">Direct</span>
    </div>
    <div class="card-list">
      <div *ngFor="let a of roomsList; let index = index">
        <div class="card shadow-sm profile-card"
          [routerLink]="['/webex',roomsList[index].title,roomsList[index].type,roomsList[index].id]">
            <span class="circle-profile">{{ this.webex.getUserInitial(roomsList[index].title) }}
            </span><span class="space-list-item space-name">{{roomsList[index].title}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="space-nav row">
    <span routerLink="/webex/meeting" class="col-md-3 bottom-icon-align-center">
      <fa-icon [icon]="faPhoneAlt"></fa-icon>
    </span>
    <span routerLink="/webex/calendar" class="col-md-3 bottom-icon-align-center">
      <fa-icon [icon]="faCalendar"></fa-icon>
    </span>
    <span routerLink="/webex/broadcast" class="col-md-3 bottom-icon-align-center">
      <fa-icon [icon]="faBullhorn"></fa-icon>
    </span>
    <span routerLink="/webex/notes"  class="col-md-3 bottom-icon-align-center bottom-icon-end">
      <fa-icon [icon]="faStickyNote"></fa-icon>
    </span>
  </div>
</div>
<ng-template #template let-modal>
  <div calss="modal fade in">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Space</h4>
      <button
        type="button"
        class="close cross-button"
        id="close"
        aria-label="Close"
        style="outline:none"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addSpaceForm" >
            <input
              type="text"
              class="md-input medium-10 md-margin__vertical--s md-margin__right--s"
              placeholder="Enter Space name"

              id="spaceName"
            />
          
  
        <div formArrayName="memberMailID">
          <div
            class="form-group"
            *ngFor="let memberControl of controls; let i = index"
          >
            <input
              type="text"
              class="md-input medium-10 md-margin__vertical--s md-margin__right--s"
              placeholder="Email Id"
              [formControlName]="i"
            />
            <button
              class="cross-button"
              (click)="onDeleteMember(i)"
            >
              x
            </button>
          </div>
          <a (click)="onAddMember()"> + Add another Member</a>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="!this.addSpaceForm.valid"
        class="md-button"
        id="addSpaceBtn"
        style="background-color: #657eee;"
        type="submit"
        (click)='onSubmitSpace()'
      >
        Create
      </button>
    </div>
  </div>
</ng-template>