.width{
  width :300px;
}

.main-content{
  min-height: 100vh;
  max-height: 100vh;
  margin-left: 250px;
}
.create-space {
  background-color: #7f55ae;

  color: #fff;

}
.create-space:hover {
  background-color: #657eee;
}

.topnav-header{
  padding: 15px;
  display: flex;
  min-height: 10vh;
  max-height: 10vh;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
  
.topnav-header > h3 {
  color: white;
}
  