.width{
  width :300px;
}

.main-content{
  min-height: 100vh;
  max-height: 100vh;
  margin-left: 300px;
}
.create-space {
  background-color: #7f55ae;

  color: #fff;

}
.create-space:hover {
  background-color: #657eee;
}
